// color
$bgdark: #012a4a;
$bglight: #a9d6e5;
$textdark: #001f3f;
$textlight: #7e7170;

// Font

$header: "Amita", serif;
$headersize: 8rem;
$paragraph: "Laila", serif;
$paragraphsize: 1.5rem;

//mixin

@mixin section {
  background-color: $bgdark;
  color: $textlight;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin header_h1 {
  font-family: $header;
  font-size: 5rem;
  text-align: left;
  margin: 5vh auto;
  text-shadow: 1px 1px 3px $textlight;
  color: $textdark;
}

@mixin header_p {
  font-family: $paragraph;
  color: $textlight;
  text-align: left;
  margin-bottom: 5vh;
  margin: 5vh 10vw 5vh auto;
  padding: 2vh;
  background: linear-gradient(145deg, #012643, #012d4f);
  box-shadow: 12px 12px 26px #011829, -12px -12px 26px #013c6b;
}

@mixin header_h2 {
  font-size: 3rem;
  font-family: $header;
  text-align: left;
  text-shadow: 1px 1px 3px $textlight;
  color: $textdark;
}

@mixin button {
  border: 0;
  width: 7rem;
  padding: 0.5rem;
  font-size: 1.3rem;
  border-radius: 10px 0px 10px 0px;
  transition: all 0.2s ease;
  text-decoration: none;
}

@mixin icons {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  padding: 2vh;
  background: linear-gradient(145deg, #012643, #012d4f);
  box-shadow: 12px 12px 26px #011829, -12px -12px 26px #013c6b;
  color: $textlight;
}

:root {
  scroll-snap-type: y mandatory;
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100vh;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  .container-fluid {
    position: absolute;
    top: 3vh;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    .navbar-brand {
      margin-left: 0.5rem;
      padding: 0 0.5rem;
      font-family: $header;
      color: $textlight;
      text-decoration: none;
      font-size: 1.5rem;
      position: fixed;
      border-radius: 5px;
      transition: all 0.2s ease-in-out;
    }

    .navbar-toggler {
      position: fixed;
      display: flex;
      right: 1rem;
      color: $textlight;
      border: 0;
    }

    .navbar-brand:hover {
      transition: 0.2s;
      background-color: rgba(255, 255, 255, 0.596);
      color: $textdark;
    }

    .navbar-collapse {
      justify-content: flex-end;
      align-items: center;
      text-align: end;
      right: 1.7rem;
      position: fixed;
      top: 3.5rem;

      .nav-link {
        color: $textlight;
        background-color: rgba(255, 255, 255, 0);
        transition: all 0.2s ease-in-out;
        border-radius: 5px;
        padding: 0.5rem 0.3rem;
      }

      .nav-link:hover {
        transition: 0.2s;
        background-color: rgba(255, 255, 255, 0.596);
        color: $textdark;
      }
    }
  }
}

.header {
  @include section;

  .header_h1 {
    @include header_h1;
  }
  .header_h2 {
    @include header_h2;
  }
  .header_p {
    @include header_p;
  }
}

.section {
  @include section;

  .section_h2 {
    @include header_h2();
  }
  .section_p {
    @include header_p();
  }
}

.section_grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0.2rem;
  justify-items: center;
  align-items: center;

  .fa-brands {
    @include icons;
  }

  .fa-regular {
    @include icons;
  }

  :first-child {
    border-radius: 10px;
  }

  :nth-child(2) {
    border-radius: 0px 10px 0px 0px;
  }

  :nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  :nth-child(4) {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
  }

  :nth-child(5) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  :last-child {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
}

  .section_a {
    @include icons();
    @include button();
    width: 12rem;
    display: flex;
    margin-top: 20vh;
    margin-left: 20vw;
    color: $textlight;
  }


.section_form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .form_input {
    border: 0;
    border-radius: 10px 0px 10px 0px;
    padding: 1rem;
    margin: 0.1rem;
    background-color: #012643;
    box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
    color: $textlight;
    font-family: $paragraph;
  }

  .form_button {
    @include icons();
    @include button();
    color: $textlight;
  }
}
.form_button:active {
  transform: scale(90%);
}


@media (min-width: 768px) { 
  .header {
  
    .header_h1 {
      font-size: 6rem;
    }
    .header_h2 {
      margin-top: 35vh
    }
    .header_p {
      font-size: 1.3rem;
    }
  }
 }
 .section {
  @include section;

  .section_h2 {
    font-size: 5rem;
  }
  .section_p {
    font-size: 1.3rem;
  }
}

.section_grid {
 margin-top: 15vh;
}

.section_form {
  margin-top: 15vh;
}

@media (min-width: 1200px) {
  .navbar {
    .container-fluid {
     
  
      .navbar-toggler {
        display: none;
        z-index: -5;
      }

      .navbar-collapse {
        top: 0.5rem;
      }
    }
  }
}

// resume

.main_cv {
  background-color: $bgdark;
  color: $textlight;
  padding: 10vh 3vw;

  .row_cv {
    margin-bottom: 5vh;
    border-bottom: 1px solid $textlight;

    .cv_h4 {
      font-family: $header;
      font-size: 3rem;
      color: $textlight;
      margin-bottom: 2vh;
      
    }
  }
}

@media (min-width: 768px) {
  .main_cv {
    display: flex;

    .section_1-cv {
      width: 50%;
      border-right: 1px solid $textlight;
    }

    .section_2-cv {
      width: 50%;
    }
  }
}